{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi sitio</title>

    <!-- CSS generado por Tailwind -->
    <link rel="stylesheet" href="{% static 'frontend/css/styles.css' %}">
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">

    <div class="bg-white p-8 rounded-xl shadow-lg">
        <h1 class="text-3xl font-bold text-indigo-600">
            Tailwind aplicado ✅
        </h1>

        <p class="mt-4 text-gray-600">
            Esto ya es Tailwind funcionando en Django
        </p>
    </div>

</body>
</html>